* {
  margin: 0;
  padding: 0;
  border: 0;
}

#container-cadastro {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#texto-cadastro {
  width: 35vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right: 5px;
  background-color: rgb(245, 220, 220);
}

#form-cadastro {
  width: 35vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(245, 220, 220);
  border: 1px solid;
}

label {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
